.container {
  min-height: 100vh;

  .title-name {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
  }

  .logo {
    width: 35px;
    height: 35px;
    margin-right: 10px;
  }

  .container__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--el-color-primary);

    .container_header--left {
      display: flex;
      align-items: center;
      text-decoration: none;
    }

    .container__header--right {
      display: flex;
      align-items: center;
      color: #fff;

      .icon-fullScreen {
        margin-right: 20px;
        cursor: pointer;

        &:hover {
          transition: 0.3s;
          transform: scale(1.1);
        }
      }

      .avatar {
        cursor: pointer;
      }
    }
  }

  .container__side {
    border-right: 1px solid #e6e6e6;
    box-shadow: 2px 0 8px 0 rgba(29, 35, 41, 5%);
    transition: width 0.3s;
  }

  :deep(.el-menu) {
    border: none !important;
  }

  :deep(.el-main) {
    padding: 0;
  }

  .collapse {
    width: 65px;
  }

  .container_main {
    display: flex;
    flex-direction: column;
    background-color: #f6f8f9;
  }

  .contaier__content {
    flex: 1;
    padding: 10px;
    margin: 10px;
    overflow: auto;
    background-color: #fff;
    border-radius: 10px;
  }

  :deep(.el-drawer__body) {
    padding: 0;
  }

  .icon-menu {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    background: #409eff;
    border-radius: 50%;
    box-shadow: 0 2px 12px 0 rgba(64, 158, 255, 100%);

    &:hover {
      transition: 0.3s;
      transform: scale(1.1);
    }
  }

  .side--mobile {
    min-height: 100vh;
    background-color: #212d3d;

    .side__header--mobile {
      display: flex;
      align-items: center;
      border-bottom: 1px dotted #f4f5f529;
    }
  }
}
